/*
Student Name: Helix LeRoy
File Name: styles.css
Date: 11/26/2023
*/

/*CSS Reset*/
body, footer, article, section, aside, figure, figcaption, div, table, tbody, tr, th, td{
  margin: 0;
	padding: 0;
	border: 0;
}

/*Img, body*/
body{
  background-color: #F2E9E4;
}

/*img{
  width: 100%;
  display: block;
}*/

/*table styles*/
tbody, th, td {
  border: 1px solid #2D2D4E;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 1%;
}


/*form style rules*/
input {
  width: 100%;
  margin-bottom: 1%;
  display: block;
}

fieldset {
  width: 80%;
  display: block;
  margin: auto;
  width: 50%;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 2%;
}

form .btn {
  width: 50%;
  display: block;
  margin: auto;
  width: 80%;
}


/*Navigation rules*/
/*nav{
  padding: 1%;
  
}*/

nav li{
  display: inline-block;
  /*font-size: 1.2em;
  padding: 1% 5%;*/
  text-decoration: none;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav li a{
  font-style: italic;
  color:#C9ADA7;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}

nav li a:hover {
  color: #F2E9E4;
}


/*header rules*/
header{
  display: block;
  background-color: #4A4E69;
  color:#F2E9E4;
  align-items: center;
}

header img{
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

header h2 {
  font-family: 'Shadows Into Light', cursive;
}

header h1, header h2{
  text-align: center;
}


/*main*/
main {
  padding: 2%;
  color: #2D2D4E;
}


/*footer*/
footer{
  padding-top: 0.5%;
  padding-bottom: 2%;
  display: block;
  text-align: center;
  
  background-color: #4A4E69;
  color:#F2E9E4;
  align-items: center;

}

footer p{
  padding: 0 2%;
  
}

footer a{
  color:#C9ADA7;
  text-decoration: none;
}


/*IDs and classes*/
#languages{
  padding: 2%;
}

#college iframe{
  padding: 2%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#college h2{
  text-align: center;
}


#media {
  width: 50%;
  margin: 0 auto;
}

#cat{
  padding-bottom: 5%;
  text-align: center;
}

#cat img{
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
  padding:1%;
}

.center{
  text-align: center;
}

#art{
  text-align: center;
}

#art img{
  margin-left: auto;
  margin-right: auto;
  max-height:300px;
  padding:1%;
  display: inline-block;
}

#contact {
  padding: 2%;
}

.round {
  border-radius: 25px;
}


/*the default state of tab-desk and mobile when media queries aren't activated*/
.tab-desk {
  display:none;
}
.mobile {
  display: block
}

/*The grid set up for navigation and main*/
.nav-grid ul{
  display:grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}

/*main grid*/
.grid {
  display:grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

/*grid for project page*/
.project-grid {
  display:grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  border-bottom: 3px solid #C9ADA7;
  margin-bottom: 5%;
  padding-bottom: 2%;
}

.project-grid img {
  width: 80%;
}

/*menu*/
#menu-links {
  display: none;
}

#menu-icon {
  margin: 0 auto;
  font-size: 3em;
  margin-left: 5%;
}

#menu-icon-container {
  text-align: center;
}



/*styles for mobile screens, applies to header*/
@media only screen and (min-width: 620px) and (max-width: 999px) {
  /*hide tab-desk class and display mobile class*/
  .tab-desk {
    display: none;
  }

  .mobile {
    display: block;
  }

  /*General header styles*/
  .mobile h1 {
    font-size: 2em;
  }

  .mobile h2 {
    font-size: 1.5em;
  }

  .mobile img {
    display: block;
  }

  /*navigation rules*/
  nav {
    width: 95%;
  }

  nav li {
    font-size: 2em;

    /*modified the mobile nav here to make it stand out more*/
    padding: 2% 1%;
    margin: auto 5%;
    border: 5px solid #C9ADA7;
    background-color: #F2E9E4;
    border-radius: 5px;
    /*width: 15%;*/
  }

  nav li a {
    color: #4A4E69;
  }

  nav li:hover {
    border: 5px solid #C9ADA7;
  }

  nav li a:hover {
    color: #4A4E69;
  }

  /*rules for the aside*/
  aside {
    background-color: #C9ADA7;
    border-radius: 10px;
  }
  

}


/*styles for tablet to desktop screens, applies to header*/
@media only screen and (min-width: 1000px) {
  /*hide tab-desk class and display mobile class*/
  .tab-desk {
    display: block;
  }

  .mobile {
    display: none;
  }

  /*header styles*/ 
  .tab-desk .header-top {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    width: 60%;
  }

  .tab-desk header img {
    width:20%;
    margin: auto 0;
    display: inline-block;
  }

  .tab-desk header figcaption {
    width: 80%;
    text-align: center;
    display:inline-block;
    padding-top: 2%;
  }
  
  .header-top figcaption {
    float: right;
  }

  .tab-desk header h1 {
    display: inline-block;
  }

  .tab-desk header h2 {
    display: inline-block;
    padding-left: 3%;
    margin: 0;
  }

  /*dynamic pseudo-class for the media query*/
  /*adds side borders when hovering over nav elements on desktop or tablet*/
  nav li:hover {
    border: 1px solid #c9ada7;
    border-top: none;
    border-bottom:none;
  }

  /*The grid set up for navigation and main*/
  .nav-grid ul{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding-bottom: 10px;
  }

  .grid {
    display:grid;
    grid-template-columns: 60% auto;
    grid-gap: 20px;
  }

  .grid-galley {
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  .project-grid {
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    border-bottom: 3px solid #C9ADA7;
    margin-bottom: 5%;
    padding-bottom: 2%;
  }


  /*rules for the aside
  aside {
    background-color: #C9ADA7;
    border-radius: 10px;
  }

  #languages {
    padding: 5% 10%;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 200%;
  }*/

  table tr:nth-of-type(odd) {
    background-color: #C9ADA7;
  }

}


/*pallete
#2D2D4E - space cadet
#4A4E69 - ultra violet
#9A8C98 - Rose quartz
#C9ADA7 - Pale dogwood
#F2E9E4 - Isabelline
*/